

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

$red: #fe4141;
$white: #fff;
$black: #000;

$navbar-item-active-background-color: $white;
$navbar-item-color: $white;
$navbar-item-active-color: $black;
$navbar-background-color: $red;


@import '../../node_modules/bulma/bulma.sass';