

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;

$red: #fe4141;
$white: #fff;
$black: #000;
$blue: #1E69B8;
$ligt-grey: #777;

$navbar-item-active-background-color: $white;
$navbar-item-color: $ligt-grey;
$navbar-item-active-color: $blue;
$navbar-background-color: $white;
//$navbar-height: 4.25rem;

$card-footer-border-top: none;
$card-shadow: none;

.divider {
    margin: 0 auto;
    height: 3px;
    border-radius: 50px;
    background: $blue;
    width: 60px;
    margin-bottom: 1.5rem;
}

.hexagon div::before
{
	position: relative;
	z-index: 2;
	color: #1E69B8;
	clear: both;
	float: none;
	display: block;
	font-size: 48px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
.hexagon 
{
	position: relative;
	width: 116px; 
	height: 66.97px;
	background-color: transparent;
	margin: 33.49px 0;
	border-left: solid 2px #1E69B8;
	border-right: solid 2px #1E69B8;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(0.0001deg);
	-webkit-transform: rotate(0.0001deg);
	-ms-transform: rotate(0.0001deg);
	-webkit-backface-visibility: hidden;
}
.hexagon::before,
.hexagon::after 
{
	content: "";
	position: absolute;
	z-index: 1;
	width: 82.02px;
	height: 82.02px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 14.9878px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.hexagon::before
{
	top: -41.0122px;
	border-top: solid 2.8284px #1E69B8;
	border-right: solid 2.8284px #1E69B8;
}
.hexagon::after 
{
	bottom: -41.0122px;
	border-bottom: solid 2.8284px #1E69B8;
	border-left: solid 2.8284px #1E69B8;
}

.card-icon {
    font-size: 3.5rem;
    color: $blue;
}

$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}

@import '../../node_modules/bulma/bulma.sass';